.aligncenter {
  text-align:center;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 100%;
  @media(max-width: 600px) {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 5px;
  }
}

.row{
  @media(max-width: 600px) {
    --bs-gutter-x: .5rem;
  }
}

.custom-theme-settings {
  background: var(--background);
  color: var(--on-background);
}

.heading {
  padding-left: 30px;
  // color: #5D001E;
  color: var(--on-my-page-header);
  line-height: 0.25;
}

.heading1 {
  font-size: medium;
}
.heading2 {
  line-height: 5;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  background: var(--my-table-background);
  color: var(--on-my-table-background);

}

.mat-header-cell{
  font-weight: 500;
  font-size: 1.25em;
  padding-top: 10px;
  background: var(--my-table-background);
  color: var(--on-my-table-background);
}

.mat-select-value-text .mat-select-value{
  color: var(--on-my-table-background) !important;
}

.mat-cell {
  background: var(--my-table-background);
  color: var(--on-my-table-background);
}

.mobile-label {
  display: none;
}

.mat-card-title-group {
  display: contents;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    background: var(--my-table-background);
    color: var(--on-my-table-background);
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-column-participantStudyCount {
    display: flex !important;
    //text-align: left;
  }
}

.mat-column-participantStudyCount {
  display: grid;
  text-align: center;
  align-items: center;
}

