<div class="aligncenter">
  <h1>Summary of Questionnaire Completed</h1>
  <h3>Total number of participants registered - {{headerCount}}</h3>

    <table mat-table [dataSource]="tableValues" class="mat-elevation-z8" align="center">
      <ng-container matColumnDef="studyName">
        <th mat-header-cell *matHeaderCellDef> Questionnaire </th>
        <td mat-cell *matCellDef="let element"> {{element.studyName}} </td>
      </ng-container>
      <ng-container matColumnDef="participantStudyCount">
        <th mat-header-cell *matHeaderCellDef> Number Of Participants </th>
        <td mat-cell *matCellDef="let element"> {{element.participantStudyCount}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

