
  <ion-toolbar class="header">
    <ion-toolbar class="toolbar1">
      <ion-title>
        <div id="textbox">
          <p class="alignleft">
            ADAPT
          </p>
          <p class="alignright">
            Welcome <span>{{userId}}</span>
          </p>
        </div>
      </ion-title>
      <div style="clear: both;"></div>
    </ion-toolbar>
    <ion-toolbar class="toolbar2">
      <ion-title>
        <ion-segment (ionChange)="onSegmentChanged($event)">
          <ion-segment-button value="summary" >
            <ion-label><b>Summary</b></ion-label>
          </ion-segment-button>
          <ion-segment-button value="collect-data" >
            <ion-label><b>Collect Data</b></ion-label>
          </ion-segment-button>
        </ion-segment>


      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
