

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collect Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Collect Data</p>

      <p-table #dt [columns]="columnHeader" [value]="tableValues" [resizableColumns]="true"
               sortMode="multiple" [responsive]="true" class="sort-table">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
          <td> <a href="participant">{{data.value1}}</a></td>
          <td> {{data.value2}}</td>
          <td> {{data.value3}}</td>
          <td> {{data.value4}}</td>
          <td> {{data.value5}}</td>
          <td> {{data.value6}}</td>
          <td> {{data.value7}}</td>
        </tr>
      </ng-template>
      </p-table>

</ion-content>
