<ion-content>
  <div class="aligncenter row justify-content-center">
    <div class="pmessagestyle">
      <p-messages [key]="'baselineAccessMessage'" [hideTransitionOptions]="'10ms'" ></p-messages>
    </div>
    <!--<p-toast position="top-right" [baseZIndex]="50000"></p-toast>-->
    <div class="col-md-8">

    <mat-card-title class="heading"><h1>{{headerName}} [Participant ID:{{headerId}}]</h1></mat-card-title>
    <p class="alignpage"></p>
    <mat-table mat-table [dataSource]="tableValues" [class.isMobile]="isMobile" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="studyName">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Questionnaire </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span class="mobile-label">Questionnaire:</span>{{element.studyName}}
<!--          <mat-icon *ngIf="element.studyName==='Physical Activity Screening'" [inline]="true" (click)="openModel()" matTooltip="Instructions">
            <ion-icon size="small" name="information-circle">
            </ion-icon>
          </mat-icon>-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="access">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Access</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span class="mobile-label">Access:</span>
          <span>
              <mat-form-field>
<!--                <mat-select *ngIf="element.studyName==='Vascular Risk'" [(value)]="selectedVascularMode">
                  <mat-option value="coordinator">Onsite-Coordinator</mat-option>
                  <mat-option value="participant">Onsite-Participant</mat-option>
                  <mat-option value="email">Email-Participant</mat-option>
                </mat-select>
                <mat-select *ngIf="element.studyName==='Sleep'" [(value)]="selectedSleepMode">
                  <mat-option value="coordinator">Onsite-Coordinator</mat-option>
                  <mat-option value="participant">Onsite-Participant</mat-option>
                  <mat-option value="email">Email-Participant</mat-option>
                </mat-select>
                <mat-select *ngIf="element.studyName==='Everyday Cognition (E-Cog)'" [(value)]="selectedEcodMode">
                  <mat-option value="coordinator">Onsite-Coordinator</mat-option>
                  <mat-option value="participant">Onsite-Participant</mat-option>
                  <mat-option value="email">Email-Participant</mat-option>
                </mat-select>
                <mat-select *ngIf="element.studyName==='Diet Screening'" [(value)]="selectedDietMode">
                  <mat-option value="coordinator">Onsite-Coordinator</mat-option>
                  <mat-option value="participant">Onsite-Participant</mat-option>
                  <mat-option value="email">Email-Participant</mat-option>
                </mat-select>-->
                <mat-select  [disabled]="element.status!='Submitted' && element.activeTimeline!='Firstyear'" [(ngModel)]="element.access" (ngModelChange)="onDropdownValueChange(element)">
                      <mat-option  *ngFor="let access of acccessMode" [value]="access.code">   {{ access.name }} </mat-option>
<!--                  <mat-option value="coordinator">Onsite-Coordinator</mat-option>
                  <mat-option value="participant">Onsite-Participant</mat-option>
                  <mat-option value="email">Email-Participant</mat-option>-->
                </mat-select>
              </mat-form-field>
            </span>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span class="mobile-label">Status:</span>
          <span *ngIf="(element.endedTimeline || element.activeTimeline=='Thirdyear') && element.status!='Submitted'; else printstatus;">Not Attempted</span>
          <ng-template #printstatus>
            {{element.status}}
          </ng-template>
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="start">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span class="mobile-label">Activity:</span>
          <span *ngIf="element.status=='Not Started' && element.activeTimeline=='Firstyear' && !element.endedTimeline"><a [routerLink]="['/adapt/collect-data/participant/questionnaire']" (click)="onTab(element)">Begin</a></span>
          <span *ngIf="element.status=='In-Progress' && element.activeTimeline=='Firstyear' && !element.endedTimeline"><a [routerLink]="['/adapt/collect-data/participant/questionnaire']" (click)="onTab(element)">Continue</a></span>
          <span *ngIf="element.status=='Submitted'"><a [routerLink]="['/adapt/collect-data/participant/questionnaire']" (click)="onTab(element)">View</a></span>
          <span *ngIf="element.status!='Submitted' && element.activeTimeline!='Firstyear'">Begin</span>
          <span *ngIf="element.status!='Submitted' && element.activeTimeline=='Firstyear' && element.endedTimeline">Begin</span>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="completedDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Completed Date </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <span class="mobile-label">Completed Date:</span>{{element.completedDate | date}} </mat-cell>
      </ng-container>

      <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </div>

  </div>

  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Physical activity  instructions</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body" style="font-size: small">
      <div>
        <img src="assets/exercise_intro.JPG">
      </div>
    </div>
  </ng-template>
</ion-content>
