<ion-content>
          <h1>First Year</h1>

  <p-table [columns]="columnHeader" [value]="tableValues">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td >
          {{data.header}}
        </td>
        <td> {{data.value}}</td>
        <td> <a href="questionnaire">Begin</a></td>
        <td> </td>
      </tr>
    </ng-template>
  </p-table>

</ion-content>
