.alignleft {
  float: left;
  font-size: 1.75em;
}

.sup{
  font-size: 30%;
  vertical-align: top;
  position: relative;
  top: 1.25em;
}

.icon{
  font-size: 1.75em;
  vertical-align: middle;
  padding-left: 15px;
}

.alignright {
  float: right;
  padding-top: 10px;
  font-size: 1em;
}

.aligncenter {
  text-align:center;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header {
  --background: black;
}

.label1 {
  font-size: 1.25em;
}

.toolbar1 {
  --background: #EAE7DC;
  font-size: 2em;
  padding-top: 10px;
  color: #5D001E;
}

.toolbar2 {
  --background: #E98074;
  margin-top: 2px;
  padding-top: 17px;
}

.ion-segment-button {
  --color-checked: #EAE7DC;
}

