.alignleft {
  float: left;
  font-size: 1.5em;
  padding-top: 1px;
  padding-bottom: 10px;
}

.sup{
  font-size: 30%;
  vertical-align: top;
  position: relative;
  top: 1.25em;
}

.icon{
  font-size: 1.75em;
  vertical-align: middle;
  padding-left: 15px;
}

.alignright {
  float: right;
  padding-top: 15px;
  font-size: 0.80em;
}

.aligncenter {
  text-align:center;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header {
  --background: black;
}

.label1 {
  font-size: 1.25em;
}

.toolbar1 {
  --background: #E98074;
  font-size: 2em;
  padding-top: 10px;
}

.toolbar2 {
  --background: #EAE7DC;
  margin-top: 2px;
  padding-top: 10px;
}

.ion-segment-button {
  --color-checked: #E98074;
}

