<nav class="navbar navbar-expand-md navbar-light" aria-label="Fourth navbar example">
  <div class="container-fluid">

      <a *ngIf="loggedIn" class="navbar-brand" href="#">
        <img src="assets/adapt.png" alt="" width="130" height="65" class="d-inline-block align-text-top">

      </a>
    <a *ngIf="!loggedIn" class="navbar-brand" href="javascript:void(0)">
      <img src="assets/adapt.png" alt="" width="130" height="65" class="d-inline-block align-text-top">

    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="loggedIn" class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a [routerLink]="['adapt/summary']" class="nav-link" [routerLinkActive]="['active']"
             aria-current="page">Summary</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['adapt/collect-data']"
             class="nav-link"
             [routerLinkActive]="['active']"
             aria-current="page">Collect Data</a>
        </li>
      </ul>
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="icon1">Hi, <span>{{fname}}</span> <span> [{{site}}]</span></span></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdown04">
            <!--            <li>
                          <a class="dropdown-item" (click)="toggle()"><i class="bi bi-circle-half custom-icon"></i> Dark/Light</a>
                        </li>-->
            <li class="nav-item">
             <span class="toggleicon"> <ui-switch color="black" size="small"  defaultBgColor="grey" [(ngModel)]="enable"
                         (change)="toggle()"></ui-switch> </span>


            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a href="#" class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-right custom-icon"></i>
                Logout</a>
            </li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>


<!--  <ion-toolbar class="header">
    <ion-toolbar class="toolbar1">
      <ion-title>

          <div class="alignleft">
            <a href="/adapt/summary"><img src="/assets/adapt.png" alt="Italian Trulli" width="150" height="65" /></a>
          </div>
          <div *ngIf="loggedIn" class="alignright">
            <p>
              <span class="icon1">Hi, <span>{{fname}}</span> <span> [{{site}}]</span></span>
              <span class="icon"><img src="/assets/logout.png" alt="Italian Trulli" width="60" height="43" (click)="logout()"/></span>
              <span class="icon"><img src="/assets/darkicon.png" alt="Italian Trulli" width="60" height="40" (click)="toggle()"/></span>
            </p>
          </div>

      </ion-title>
      <div style="clear: both;"></div>
    </ion-toolbar>
    <ion-toolbar class="toolbar2">
      <ion-title *ngIf="loggedIn">
        <ion-segment [(ngModel)]="mainmenu" (ionChange)="onSegmentChanged($event)" >
          <ion-segment-button value="summary" class="ion-segment-button">
            <ion-label class="label1"><b>Summary</b></ion-label>
          </ion-segment-button>
          <ion-segment-button value="collect-data" class="ion-segment-button" (click)="onSegmentClicked()">
            <ion-label class="label1"><b>Collect Data</b></ion-label>
          </ion-segment-button>
        </ion-segment>


      </ion-title>
    </ion-toolbar>
  </ion-toolbar>-->
