
  <ion-toolbar class="header">
    <ion-toolbar class="toolbar1">
      <ion-title>

          <div class="alignleft">
            <a href="/adapt/summary"><img src="/assets/adapt.png" alt="Italian Trulli" width="150" height="65" /></a>


          </div>
          <div *ngIf="loggedIn" class="alignright">
            <p>
              <span class="icon1">Hi, <span>{{fname}}</span> <span> [{{site}}]</span></span>
              <span class="icon"><img src="/assets/logout.png" alt="Italian Trulli" width="60" height="43" (click)="logout()"/></span>
              <span class="icon"><img src="/assets/darkicon.png" alt="Italian Trulli" width="60" height="40" (click)="toggle()"/></span>
            </p>
          </div>

      </ion-title>
      <div style="clear: both;"></div>
    </ion-toolbar>
    <ion-toolbar class="toolbar2">
      <ion-title *ngIf="loggedIn">
        <ion-segment [(ngModel)]="mainmenu" (ionChange)="onSegmentChanged($event)" >
          <ion-segment-button value="summary" class="ion-segment-button">
            <ion-label class="label1"><b>Summary</b></ion-label>
          </ion-segment-button>
          <ion-segment-button value="collect-data" class="ion-segment-button" (click)="onSegmentClicked()">
            <ion-label class="label1"><b>Collect Data</b></ion-label>
          </ion-segment-button>
        </ion-segment>


      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
