
  <ion-toolbar class="header">
    <ion-toolbar class="toolbar1">
      <ion-title>

          <div class="alignleft">
          <img src="/assets/Logo-DIVERSE-VCID.jpg" alt="Italian Trulli" width="50" height="50" >

            ADAPT<sup class="sup">TM</sup>
          </div>
          <div *ngIf="loggedIn" class="alignright">
            <p>
              Hi <span>{{fname}}</span> <span> ({{site}})</span>
              <span class="icon"><ion-icon  name="log-out-outline" (click)="logout()"></ion-icon></span>
              <span class="icon"><ion-icon name="contrast-outline" (click)="toggle()"></ion-icon></span>
            </p>
          </div>

      </ion-title>
      <div style="clear: both;"></div>
    </ion-toolbar>
    <ion-toolbar class="toolbar2">
      <ion-title *ngIf="loggedIn">
        <ion-segment [(ngModel)]="mainmenu" (ionChange)="onSegmentChanged($event)">
          <ion-segment-button value="summary" >
            <ion-label class="label1"><b>Summary</b></ion-label>
          </ion-segment-button>
          <ion-segment-button value="collect-data" >
            <ion-label class="label1"><b>Collect Data</b></ion-label>
          </ion-segment-button>
        </ion-segment>


      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
