#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {

  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.alignleft {
  float: left;
  font-size: 1.5em;
  padding-top: 15px;
}

.alignright {
  float: right;
}

.aligncenter {
  text-align:center;
  font-size: 2.5em;
  padding-top: 25px;
  padding-bottom: 20px;
}

.errorcenter {
  text-align:center;
  font-size: 1.5em;
  color: red;
  padding-top: 25px;
  padding-bottom: 20px;
}
.divcenter {
  border-style: solid;
  border-width: thin;
  text-align:center;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  --background: black;
}

.toolbar1 {
  --background: #35E8FB;
}

.toolbar2 {
  --background: #35E8FB;
  margin-top: 2px;
  padding-top: 20px;
}
