#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {

  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.alignleft {
  float: left;
  font-size: 1.5em;
  padding-top: 15px;
}

.alignright {
  float: right;
}

.aligncenter {
  text-align:center;
  padding-top: 200px;
}

.p1{
  font-size: 1.5em;
}

.p2{
  font-size: 0.75em;
  line-height: 0.7;
}

.p3{
  font-size: 1em;
}

.p5{
  font-size: 1.5em;
  line-height: 2;
}
.p6{
  font-size: 1.5em;
  line-height: 0.25;
}


.errorcenter {
  text-align:center;
  font-size: 1em;
  color: red;
  padding-top: 5px;
  padding-bottom: 15px;

}
.divcenter {
  border-style: solid;
  border-width: thin;
  text-align:center;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.sup{
  font-size: 30%;
  vertical-align: top;
  position: relative;
  top: 0.25em;
}

.header {
  --background: black;
}

.toolbar1 {
  --background: #EAE7DC;
}

.toolbar2 {
  --background: #EAE7DC;
  margin-top: 2px;
  padding-top: 20px;
}

