<ion-content>
  <div>
    <div class="aligncenter">
      <p class="p5">Welcome</p>
      <p ><span class="p1">Advanced Data Assessment Protocol ( ADAPT<sup class="sup">TM</sup> ) </span> <span class="p3">for</span></p>
      <p class="p2">*Copyright by Panch Research LLC, Chicago, USA</p>
      <p class="p5">Diverse Vascular Cognitive Impairment and Dementia (DVCID)</p>
    </div>
    <div class="errorcenter">{{errorMessage}}</div>
    <div class="divcenter">
      <form id="signInForm" autocomplete="off" [formGroup]="signInForm" (ngSubmit)="login()" (keydown.enter)="login()">

          <div><app-input formControlName="username" type="text" id="username" name="username" autofocus="true" placeholder="username/email*"></app-input></div>
          <div><app-input formControlName="password" type="password" id="password" name="password" hideInput="true" placeholder="password*"></app-input></div>
          <div><app-button [visualState]="'custom-colors'" (click)="login()">Login</app-button></div>


      </form>
    </div>
  </div>
</ion-content>
