<div>
  <div class="aligncenter">
     Welcome To ADAPT<sup class="sup">TM</sup>
  </div>
  <div class="errorcenter">{{errorMessage}}</div>
  <div class="divcenter">
    <form id="signInForm" autocomplete="off" [formGroup]="signInForm" (ngSubmit)="login()">

        <div><app-input formControlName="username" type="text" id="username" name="username" autofocus="true" placeholder="email*"></app-input></div>
        <div><app-input formControlName="password" type="password" id="password" name="password" hideInput="true" placeholder="password*"></app-input></div>
        <div><app-button [visualState]="'primary-blue-colors'" (click)="login()">Login</app-button></div>


    </form>
  </div>
</div>
