.alignleft {
  float: left;
  font-size: 1.5em;
}
.alignright {
  float: right;
  padding-top: 10px;
  font-size: 1em;
}

.aligncenter {
  text-align:center;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header {
  --background: black;
}

.toolbar3 {
  background-color: #E98074;
  --background-focused: #EAE7DC;
  --color-selected: #EAE7DC;
  --color: #5D001E;
}

.toolbar2 {
  --background: #E98074;
  margin-top: 2px;
  padding-top: 20px;
}

ion-icon {
  pointer-events: none;
}
