.alignleft {
  float: left;
  font-size: 1.5em;
}
.alignright {
  float: right;
  padding-top: 10px;
  font-size: 1em;
}

.aligncenter {
  text-align:center;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header {
  --background: black;
}

.toolbar3 {
  background-color: #EAE7DC;
  --background-focused: #E98074;
  --color-selected: #E98074;
}

.toolbar2 {
  --background: #EAE7DC;
  margin-top: 2px;
  padding-top: 20px;
}
