<ion-header [translucent]="true" class="header">
  <ion-toolbar class="header">
    <ion-toolbar class="toolbar1">
      <ion-title>
        <h1><b>ADAPT</b></h1>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar class="toolbar2">
      <ion-title>
        <div id="textbox">
          <p class="alignleft">
            <app-button [visualState]="'secondary-outline'" (click)="summary()">Summary </app-button>&nbsp;
            <app-button [visualState]="'secondary-outline'" (click)="collect()">Collect Data</app-button>
          </p>
          <p class="alignright">
            Welcome <span>{{userId}}</span>
          </p>
        </div>
        <div style="clear: both;"></div>
      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p-toast [style]="{marginTop: '50px'}"></p-toast>
  <p>Summary</p>
  <p-accordion [multiple]="true" >

    <p-accordionTab header="Base Line"  [selected]="true">
      <p-table [columns]="columnHeader" [value]="tableValues">
        <ng-template pTemplate="header"  let-columns>
          <tr>
            <th *ngFor="let cols of columns">{{cols.header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-columns="columns">
          <tr>
            <td >
              {{data.header}}
            </td>
            <td> {{data.value}}</td>
            <td> <a href="questionnaire">Begin</a></td>
            <td> </td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>

    <p-accordionTab header="First Year" [selected]="true">
      <p-table [columns]="columnHeader" [value]="tableValues">
        <ng-template pTemplate="header"  let-columns>
          <tr>
            <th *ngFor="let cols of columns">{{cols.header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-columns="columns">
          <tr>
            <td >
              {{data.header}}
            </td>
            <td> {{data.value}}</td>
            <td> <a href="questionnaire">Begin</a></td>
            <td> </td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>

    <p-accordionTab header="Third Year" [selected]="true">
      <p-table [columns]="columnHeader" [value]="tableValues">
        <ng-template pTemplate="header"  let-columns>
          <tr>
            <th *ngFor="let cols of columns">{{cols.header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-columns="columns">
          <tr>
            <td >
              {{data.header}}
            </td>
            <td> {{data.value}}</td>
            <td> <a href="questionnaire">Begin</a></td>
            <td> </td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>

  </p-accordion>
</ion-content>

