
.aligncenter {

  padding-top: 120px;

}

.popup_desc_table{
  td {
    padding: 20px !important;
  }
}


.footer-toolbar {
  --background: #EAE7DC;
}

.back-button-style {
  background-color: #EAE7DC;
  --background-focused: #E98074;
  --color-selected: #E98074;
}

:host{
  ::ng-deep{
    .sv_main .sv_container .sv_header h3 {
      font-weight: 500 !important;
    }
    .select2-search__field{
      width: 100% !important;
    }

    .select2-container--classic .select2-selection--multiple {
      border: 1px solid #5d001e !important;
    }
  }
}
