<!--  External navigation:
  <span id="surveyProgress"></span>
  <a id="surveyPrev" href="#" onclick="this.survey.prevPage();">Prev</a>
  <a id="surveyNext" href="#" onclick="survey.nextPage();">Next</a>
  <a id="surveyComplete" href="#"  onclick="survey.completeLastPage();">Complete</a>
  <br />
  Go to page directly without validation: <select id="pageSelector" onchange="survey.currentPageNo = this.value"></select>
  <hr/>-->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>



<ion-content>
  <br>
  <div class="survey-container contentcontainer codecontainer aligncenter">
    <!--<p-toast position="top-center" [baseZIndex]="10000"></p-toast>-->
    <p-messages [key]="'previewErrorMessage'" [hideTransitionOptions]="'10ms'"></p-messages>
  <div id="surveyElement">

  </div>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons slot="start">
<!--      <ion-back-button class="back-button-style" (click)="backButtonClick()"
        [text]="'Back to Participant Summary'"
        defaultHref="home"></ion-back-button>-->
      <ion-button size="small"  fill="solid" color="warning" (click)="backButtonClick()">Back</ion-button>
      <ion-button [hidden]="showPrevious()"  size="small" fill="solid"   color="primary" (click)="onPreviousButtonClick()">Previous</ion-button>
            <!--      <ion-back-button class="back-button-style" (click)="backButtonClick()"
              [text]="'Back to Participant Summary'"
              defaultHref="home"></ion-back-button>-->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [hidden]="showNext()"   size="small"  fill="solid"  color="primary" (click)="onNextButtonClick()">Next</ion-button>
      <ion-button  [hidden]="showPreview()" size="small"  fill="solid"  color="danger" (click)="onPreviewClick()">Preview</ion-button>
      <ion-button  [hidden]="showComplete()" size="small" fill="solid"  color="success" (click)="onCompleteButtonClick()">Submit</ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-footer>


<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">More information</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body" style="font-size: small">
    <div [innerHTML]="openDesc"></div>
  </div>
</ng-template>



