

.popup_desc_table{
  td {
    padding: 20px !important;
  }
}


.footer-toolbar {
  --background: #FFFFFF;
}

.back-button-style {
  background-color: #EAE7DC;
  --background-focused: #E98074;
  --color-selected: #E98074;
}

:host{
  ::ng-deep{
    .sv_main .sv_container .sv_header h3 {
      font-weight: 500 !important;
    }
    .select2-search__field{
      width: 100% !important;
    }

    .sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
      font-size: 1.5em !important;
      margin-top: 0.1em;
      font-weight: bold !important;
      text-align: center !important;
      color: #5D001E;
    }

    .select2-container--classic .select2-selection--multiple {
      border: 1px solid #5d001e !important;
    }
    .ui-widget-overlay {
      background: #FFFFFF /*{bgColorOverlay}*/ /*{bgImgUrlOverlay}*/ /*{bgOverlayXPos}*/ /*{bgOverlayYPos}*/ /*{bgOverlayRepeat}*/;
      opacity: 1/*{opacityOverlay}*/;
    }
  }
}

.aligncenter {
 // text-align:center;
  padding-top: 76px;
  padding-bottom: 20px;
 // padding-left: 75px;
  //padding-right: 75px;
 // display: flex;
 // flex-direction: column;
 // width: 100%;
  @media(max-width: 600px) {
    padding-top: 76px;
    //padding-left: 5px;
    //padding-right: 5px;
  }
}
