<ion-content>
  <div class="aligncenter">

<!--  <p-table [columns]="columnHeader" [value]="tableValues">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td> {{data.studyName}}</td>
        <td> {{data.status}}</td>
        <td> <a class="nav-link" [routerLink]="['/adapt/questionnaire']" (click)="onTab(data)">Begin</a></td>
        <td> {{data.completedDate | date}}</td>
      </tr>
    </ng-template>
  </p-table> -->
    <mat-card-title class="iconpadded">{{headerName}} (ID:{{headerId}})</mat-card-title>
    <p class="alignpage"></p>
  <mat-table mat-table [dataSource]="tableValues" [class.isMobile]="isMobile" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="studyName">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Questionnaire </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Questionnaire:</span>{{element.studyName}}
        <ion-icon *ngIf="element.studyName==='Physical Activity Screening'" size="small" name="information-circle" (click)="openModel()"></ion-icon></mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Status:</span>
        <span *ngIf="element.activeTimeline=='baseline'">{{element.status}}</span>
        <span *ngIf="element.activeTimeline!='baseline'">Not Attempted</span>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="start">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Begin/Continue/View </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Begin/Continue/View:</span>
        <span *ngIf="element.status=='Not Started' && element.activeTimeline=='baseline'"><a [routerLink]="['/adapt/questionnaire']" (click)="onTab(element)">Begin</a></span>
        <span *ngIf="element.status=='In Progress' && element.activeTimeline=='baseline'"><a [routerLink]="['/adapt/questionnaire']" (click)="onTab(element)">Continue</a></span>
        <span *ngIf="element.status=='Completed'"><a [routerLink]="['/adapt/questionnaire']" (click)="onTab(element)">View</a></span>
        <span *ngIf="element.status!='Completed' && element.activeTimeline!='baseline'">Begin</span>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="completedDate">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Completed Date </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Completed Date:</span>{{element.completedDate | date}} </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Physical activity  instructions</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body" style="font-size: small">
      <div>
        <img src="assets/exercise_intro.JPG">
      </div>
    </div>
  </ng-template>
</ion-content>
