<ion-content>
          <h1>{{headerName}}</h1>

  <p-table [columns]="columnHeader" [value]="tableValues">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td> {{data.studyName}}</td>
        <td> {{data.status}}</td>
        <td> <a class="nav-link" [routerLink]="['/adapt/questionnaire']" (click)="onTab(data)">Begin</a></td>
        <td> {{data.completedDate | date}}</td>
      </tr>
    </ng-template>
  </p-table>

</ion-content>
