<ion-header [translucent]="true" class="header">
  <app-header></app-header>

</ion-header>

<ion-content>

  <div class="container-flyout col-md-2">
    <div class="create-booking-widget">
      <app-button id="search" [visualState]="'primary-navy-colors'" [showArrow]="false"
                  (click)="flyout = true">
        <span >Search</span>
      </app-button>

      <app-flyout [show]="flyout" [position]="'right'" (hideFlyout)="flyout = false">
        <div class="grid">
          <div class="divcenter">
            <div>Participant Id<app-input type="text" id="participantId" name="participantId" autofocus="true" ></app-input></div>
            <div>First name<app-input type="text" id="firstname" name="firstname" ></app-input></div>
            <div>Last Name<app-input type="text" id="lastname" name="lastname" ></app-input></div>
            <div>Date of Birth<app-input type="text" id="dob" name="dob" ></app-input></div>
            <div></div>
            <div class="alignleft"> <app-button id="cancel" [visualState]="'primary-navy-colors'" [showArrow]="false"
                              (click)="flyout = false"><span>Cancel</span></app-button></div>
            <div class="alignright"> <app-button id="participant" [visualState]="'primary-navy-colors'" [showArrow]="false"
                              (click)="flyout = false;search()"><span>Search</span></app-button></div>
          </div>
        </div></app-flyout></div></div>

<p-toast [style]="{marginTop: '50px'}"></p-toast>

  <mat-card-title>List of Participant Summary</mat-card-title>

     <!-- <p-table #dt [columns]="columnHeader" [value]="tableValues" [resizableColumns]="true"
               sortMode="multiple" [responsive]="true" class="table-primary">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
          <td> <a class="nav-link" [routerLink]="['/adapt/participant']" (click)="onTab(data)">{{data.participantId}}</a></td>
          <td> {{data.firstName}}</td>
          <td> {{data.lastName}}</td>
          <td> {{data.dob}}</td>
          <td> {{data.registeredDate | date}}</td>
          <td> {{data.timeline}}</td>
          <td> {{data.questionnaireCompleted}}</td>
        </tr>
      </ng-template>
      </p-table>-->
  <div class="example-container">
  <mat-table matSort [dataSource]="dataSource" [class.isMobile]="isMobile" class="mat-elevation-z8">

    <ng-container matColumnDef="participantId">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Participant ID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Participant ID:</span>
        <a class="nav-link" [routerLink]="['/adapt/participant']" (click)="onTab(element)">{{element.participantId}}</a> </mat-cell>
    </ng-container>


    <ng-container matColumnDef="firstName">
      <mat-header-cell mat-sort-header *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">First Name:</span>
        {{element.firstName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="lastName">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Last Name:</span>{{element.lastName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="dob">
      <mat-header-cell mat-sort-header *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">DOB:</span>{{element.dob}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registeredDate">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Registered Date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Registered Date:</span>{{element.registeredDate | date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="timeline">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Timeline </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Timeline:</span>{{element.timeline}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="questionnaireCompleted">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Questionnaire Completed </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Questionnaire Completed:</span>{{element.questionnaireCompleted | date}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</ion-content>
