.container-flyout {
  padding-left: 25px;
  float: right;
  padding-top: 175px;
}
.divcenter {
  padding-top: 200px;
}

.alignleft {
  float: left;
  padding-bottom: 40px;
}

.alignright {
  float: right;
  padding-right: 40px;
}

.alignpage {
  padding-bottom: 20px;
}

.icon {
  font-size: 2em;
}
.iconpadded {
  font-size: 2em;
  padding-left: 30px;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;

}

.mat-header-cell{
  font-size: 1.25em;
  padding-top: 10px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

