.container-flyout {
  padding-left: 26px;
  float: right;
}
.divcenter {
  padding-top: 175px;
}

.alignleft {
  float: left;
  padding-left: 40px;
}
.alignright {
  float: right;
  padding-right: 40px;
}
