<ion-header [translucent]="true" class="header">
  <app-header></app-header>

</ion-header>

<ion-content>

  <div class="container-flyout col-md-2">
    <div class="create-booking-widget">
      <app-button id="search" [visualState]="'primary-navy-colors'" [showArrow]="false"
                  (click)="flyout = true">
        <span >Search</span>
      </app-button>

      <app-flyout [show]="flyout" [position]="'right'" (hideFlyout)="flyout = false">
        <div class="grid">
          <div class="divcenter">
            <div>Participant Id<app-input type="text" id="participantId" name="participantId" autofocus="true" ></app-input></div>
            <div>First name<app-input type="text" id="firstname" name="firstname" ></app-input></div>
            <div>Last Name<app-input type="text" id="lastname" name="lastname" ></app-input></div>
            <div>Date of Birth<app-input type="text" id="dob" name="dob" ></app-input></div>
            <div></div>
            <div class="alignleft"> <app-button id="cancel" [visualState]="'primary-navy-colors'" [showArrow]="false"
                              (click)="flyout = false"><span>Cancel</span></app-button></div>
            <div class="alignright"> <app-button id="participant" [visualState]="'primary-navy-colors'" [showArrow]="false"
                              (click)="flyout = false;search()"><span>Search</span></app-button></div>
          </div>
        </div></app-flyout></div></div>

<p-toast [style]="{marginTop: '50px'}"></p-toast>

  <p>List of Participant Summary</p>

      <p-table #dt [columns]="columnHeader" [value]="tableValues" [resizableColumns]="true"
               sortMode="multiple" [responsive]="true" class="table-primary">
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let cols of columns">{{cols.header}}</th>
      </tr>
    </ng-template>
      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
          <td> <a href="adapt/participant">{{data.value1}}</a></td>
          <td> {{data.value2}}</td>
          <td> {{data.value3}}</td>
          <td> {{data.value4}}</td>
          <td> {{data.value5}}</td>
          <td> {{data.value6}}</td>
          <td> {{data.value7}}</td>
        </tr>
      </ng-template>
      </p-table>
</ion-content>
