.container-flyout {
  padding-left: 26px;
  float: right;
}
.divcenter {
  padding-top: 175px;
}

.alignleft {
  float: left;
  padding-left: 40px;
}
.alignright {
  float: right;
  padding-right: 40px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 100%;
  padding: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;

}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

