



<ion-content>
    <div *ngIf="isWelcome" id="welcome" class="aligncenter">
      <p class="p6">Welcome</p>
      <p class="p3">to</p>
      <p class="p1">Automated Data Assessment  Protocol (ADAPT<sup class="sup">TM</sup>)</p>
      <p class="p2">*Copyright by Panch Research LLC, Chicago, USA</p>
      <p class="p5">Diverse Vascular Cognitive Impairment Dementia (VCID)</p>
      <p class="p4"><img src="/assets/Logo-DIVERSE-VCID.png" alt="Italian Trulli" width="360" height="360" ></p>
    </div>
</ion-content>


