<ion-header [translucent]="true" class="header">
  <ion-toolbar class="header">
  <ion-toolbar class="toolbar1">
    <ion-title>
      <h1><b>ADAPT</b></h1>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar2">
    <ion-title>
      <div id="textbox">
      <p class="alignleft">
        <app-button [visualState]="'secondary-outline'" (click)="summary()">Summary </app-button>&nbsp;
        <app-button [visualState]="'secondary-outline'" (click)="collect()">Collect Data</app-button>
      </p>
      <p class="alignright">
           Welcome <span>{{userId}}</span>
      </p>
      </div>
        <div style="clear: both;"></div>
    </ion-title>
  </ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="isWelcome" id="welcome" class="aligncenter">
      Welcome To Adapt
    </div>

    <div *ngIf="isSummary" id="summary"><app-adapt-summary></app-adapt-summary></div>
    <div *ngIf="isCollectData" id="collect-data"><app-adapt-collect-data></app-adapt-collect-data></div>
  </div>

</ion-content>
