
.divcenter {
  padding-top: 20px;
}

.alignleft {
  float: left;
  padding-bottom: 40px;
}

.alignright {
  float: right;
  padding-right: 40px;
}

.alignpage {
  padding-bottom: 10px;
}

.icon {
  font-size: 2em;
}

.icon2 {
  font-size: 2em;
  padding-left: 30px;
  padding-right: 30px;
}

.flyoutwarning{
  padding-top: 30px;
  color: red;
  font-size: 1em;
}

.flyoutwarning1{
  padding-bottom: 30px;
  color: red;
  font-size: 1em;
}

.custom-theme-settings {
  background: var(--background);
  color: var(--on-background);
}

.heading {
  text-align: center;
  padding-left: 30px;
  // color: #5D001E;
  color: var(--on-my-page-header);
  line-height: 0.25;
}

.heading1 {
  text-align: center;
  font-size: medium;
}
.heading2 {
  line-height: 5;
}

.heading3 {
  text-align: center;
}

ion-icon {
  pointer-events: none;
}


.aligncenter {
  //text-align:center;
  padding-top: 80px;
  padding-bottom: 20px;
  //padding-left: 75px;
  //padding-right: 75px;
  //display: flex;
  //flex-direction: column;
  width: 100%;
  @media(max-width: 600px) {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 5px;
  }
}
.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
  background: var(--my-table-background);
  color: var(--on-my-table-background);

}

.mat-header-cell{
  font-weight: 500;
  font-size: 1.25em;
  padding-top: 10px;
  background: var(--my-table-background);
  color: var(--on-my-table-background);
}

.mat-select-value-text .mat-select-value{
  color: var(--on-my-table-background) !important;
}

.mat-cell {
  background: var(--my-table-background);
  color: var(--on-my-table-background);
}

.mobile-label {
  display: none;
}

.error{
  font-size: 1.25em;
  color: red;
  padding-left: 30px;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    background: var(--my-table-background);
    color: var(--on-my-table-background);
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-column-completedDate {
    display: flex !important;
  }
}

.mat-column-participantId {
  flex: 0 0 16%;
}

.mat-column-firstName {
  flex: 0 0 20%;
  text-align: left;
}

.mat-column-lastName {
  flex: 0 0 20%;
  text-align: left;
}

.mat-column-dob {
  flex: 0 0 10%;
}

.mat-column-registeredDate {
  flex: 0 0 17%;
}

.mat-column-completedDate {
  flex: 0 0 17%;
}



.button-background{
  background: #5D001E;
  border-color: #5D001E;
}

.row{
  @media(max-width: 600px) {
    --bs-gutter-x: .5rem;
  }
}

:host {
  ::ng-deep {
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
      line-height: 25px !important;
    }
    .mat-paginator{
      //background: var(--my-mat-paginator-background);
      background: var(--my-table-background);
      color: var(--on-my-table-background);
    }

     .mat-paginator-page-size .mat-select-trigger{
      background: var(--my-table-background);
      color: var(--on-my-table-background);
    }
    .mat-select-value{
      color: var(--on-my-table-background);
    }
    .mat-select-arrow{
      color: var(--on-my-table-background);
  }
  }
}

