<p-sidebar [(visible)]="flyout"
           position="right"
           [showCloseIcon]="true"
           [dismissible]="true"
           [closeOnEscape]="true"
           [baseZIndex]="99999"
           appendTo="body"
           styleClass="p-sidebar-md">

  <div class="container">
    <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="flyoutwarning">* Clear the search to reload the complete participant summary</div>
      <div class="flyoutwarning1">* Use ADC ID or other searches, names can be used as wild card</div>
      <div>ADC ID
        <app-input #appInputElement formControlName="participantId" name="participantId"
                   autofocus="true"></app-input>
      </div>
      <div>First Name
        <app-input #appInputElement formControlName="firstname" name="firstname"></app-input>
      </div>
      <div>Last Name
        <app-input #appInputElement formControlName="lastname" name="lastname"></app-input>
      </div>
      <div>Date of Birth
        <app-input #appInputElement formControlName="dob" name="dob" placeholder="mm-dd"></app-input>
      </div>
      <div class="row">
        <div class="col align-self-start">

          <button type="button" (click)="flyout = false;search()" class="btn btn-primary button-background">Search
          </button>

        </div>
        <div class="col align-self-end">
          <button type="button" (click)="flyout = false" class="btn btn-primary button-background">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</p-sidebar>

<ion-content class="custom-theme-settings">

  <div class="aligncenter row justify-content-center">
    <div class="col-md-10">

    <p-toast [style]="{marginTop: '10px'}"></p-toast>

    <div *ngIf="!isMobile" class="row">
      <div class="col align-self-start">
        <div style="float: right">
          <mat-card-title class="heading"><h1>List of Participants</h1></mat-card-title>
        </div>

      </div>
      <div class="col-5 align-self-end">
        <div style="float: right">
<!--            <span class="icon">
              <mat-icon matTooltip="Search by Filter"  [inline]="true" (click)="loadParticipants('clear');flyout = true">search
                &lt;!&ndash; <img src="/assets/searchicon.png" alt="Italian Trulli" width="50" height="45"/>&ndash;&gt;
             </mat-icon>

          </span>-->

          <button mat-button type="submit" (click)="loadParticipants('clear');flyout = true">
            <mat-icon aria-hidden="false" aria-label="search" >search</mat-icon>
            <p>Search</p>
          </button>

          <button mat-button type="submit" (click)="loadParticipants('clear');flyout = true">
            <mat-icon aria-hidden="false" aria-label="clear" >Clear</mat-icon>
            <p>Clear</p>
          </button>
<!--          <span class="icon2">
              <mat-icon [inline]="true" (click)="loadParticipants('clear')" matTooltip="Clear Filter">
                <img src="/assets/clearicon.png" alt="Italian Trulli" width="50" height="40"/>
              </mat-icon>
          </span>-->
        </div>
      </div>
    </div>

    <div *ngIf="isMobile" class="row">
      <div class="row">
        <div style="float: left">
          <mat-card-title class="heading"><h1>List of Participants</h1></mat-card-title>
        </div>

      </div>
      <div class="row">
        <div style="float: right">
            <span class="icon">
              <mat-icon matTooltip="Search by Filter" [inline]="true" (click)="loadParticipants('clear');flyout = true">
                 <img src="/assets/searchicon.png" alt="Italian Trulli" width="50" height="45"/>
             </mat-icon>
          </span>
          <span class="icon2">
              <mat-icon [inline]="true" (click)="loadParticipants('clear')" matTooltip="Clear Filter">
                <img src="/assets/clearicon.png" alt="Italian Trulli" width="50" height="40"/>
              </mat-icon>
          </span>
        </div>
      </div>
    </div>

    <mat-card-title class="error">{{errorMessage}}</mat-card-title>

    <mat-table matSort [dataSource]="dataSource" [class.isMobile]="isMobile" class="mat-elevation-z8">

      <ng-container matColumnDef="participantId">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ADC ID</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">ADC ID:</span>
          <a class="nav-link" [routerLink]="['/adapt/collect-data/participant/baseline']"
             [queryParams]="{participantId: element.participantId}"
             (click)="onTab(element)">{{element.participantId}}</a></mat-cell>
      </ng-container>


      <ng-container matColumnDef="firstName">
        <mat-header-cell mat-sort-header *matHeaderCellDef> First Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">First Name:</span>
          {{element.firstName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="lastName">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Last Name:</span>{{element.lastName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="dob">
        <mat-header-cell mat-sort-header *matHeaderCellDef> DOB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">DOB:</span>{{element.dob}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registeredDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Registered Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Registered Date:</span>{{element.registeredDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completedDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Last Updated On</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Last Updated On:</span>{{element.completedDate | date}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[2,5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</ion-content>
