
.divcenter {
  padding-top: 20px;
}

.alignleft {
  float: left;
  padding-bottom: 40px;
}

.alignright {
  float: right;
  padding-right: 40px;
}

.alignpage {
  padding-bottom: 10px;
}

.icon {
  font-size: 2em;
}

.icon2 {
  font-size: 2em;
  padding-left: 30px;
  padding-right: 30px;
}

.flyoutwarning{
  padding-top: 30px;
  padding-bottom: 10px;
  color: red;
  font-size: 1em;
}

.heading {
  padding-left: 30px;
  color: #5D001E;
}

ion-icon {
  pointer-events: none;
}


.aligncenter {
  text-align:center;
  padding-top: 120px;
  padding-bottom: 20px;
  //padding-left: 75px;
  //padding-right: 75px;
  //display: flex;
  //flex-direction: column;
  width: 100%;
  @media(max-width: 600px) {
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 5px;
  }
}
.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.mat-table {
  overflow: auto;
  max-height: 500px;

}

.mat-header-cell{
  font-size: 1.25em;
  padding-top: 10px;
}

.mobile-label {
  display: none;
}

.error{
  font-size: 1.25em;
  color: red;
  padding-left: 30px;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-column-completedDate {
    display: flex !important;
  }
}

.mat-column-completedDate {
  display: grid;
  text-align: center;
  align-items: center;
}

.button-background{
  background: #5D001E;
  border-color: #5D001E;
}

.row{
  @media(max-width: 600px) {
    --bs-gutter-x: .5rem;
  }
}

.mat-header-cell{
  font-weight: bold;
}
