<ion-content>
    <div class="aligncenter">
      <h1>Summary of Questionnaires Completed</h1>
      <h3>Total number of participants registered - {{headerCount}}</h3>

  <mat-table mat-table [dataSource]="tableValues" [class.isMobile]="isMobile" class="mat-elevation-z8">
    <ng-container matColumnDef="studyName">
      <mat-header-cell mat-header-cell *matHeaderCellDef > Questionnaire </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Questionnaire:</span>{{element.studyName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="participantStudyCount">
      <mat-header-cell mat-header-cell *matHeaderCellDef > Number Of Participants </mat-header-cell>>
      <mat-cell mat-cell *matCellDef="let element">
        <span class="mobile-label">Number Of Participants:</span>{{element.participantStudyCount}} </mat-cell>>
    </ng-container>
    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</ion-content>

